@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rajdhani:wght@300;400;500;600;700&family=Satisfy&display=swap");

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.wrapper {
  font-family: "Poppins", sans-serif;
}
header {
  /* border: 1px solid; */
  height: 12vh;
}
header nav {
  /* border: 1px solid; */
  font-family: "Open Sans", sans-serif;
  height: 12vh;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  background-color: #1e1e1f;
}
nav .brand {
  /* border: 1px solid red; */
  width: 12em;
  height: 12vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.brand img {
  /* border: 1px solid red; */
  height: 60%;
  width: 30%;
  object-fit: cover;
}
.brand a {
  font-family: "Satisfy", cursive;
  font-size: 1.8em;
  color:burlywood;
  text-decoration: none;
}

nav ul {
  /* border: 1px solid; */
  width: 60em;
  list-style: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
ul li a {
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: 600;
  color: white;
}
ul li a:hover {
  color:burlywood;
}
 ul li a::after{
  content: "";
  /* border: 1px solid rgb(0, 140, 255); */
  height: 0.1%;
  width: 6%;
  position: absolute;
  top: 8%;
  left: 17.2%;    
  transition: .8s;
}
ul li .home:hover::after {
  width: 3.8%;
  position: absolute;
  left: 17.2%;
  background-color:white;
}
ul li .collect:hover::after{
  width: 6.5%;
  position: absolute;
  left: 28.8%;
  background-color:white;
} 
ul li .about:hover::after{
  width: 3.8%;
  position: absolute;
  left: 43.1%;
  background-color:white;
}
ul li .product:hover::after{
  width: 5.5%;
  position: absolute;
  left: 54.6%;
  background-color:white;
} 
ul li .contact:hover::after{
  width: 4.5%;
  position: absolute;
  left: 68%;
  background-color:white;
} 
nav .page {
  /* border: 1px solid rgb(86, 176, 40); */
  display: flex;
  align-items: center;
  gap: 1em;
  text-align: center;
}
nav .login {
  border: 1px solid burlywood;
  width: 5em;
  height: 2.3em;
  background-color: black;
  color: white;
  border-radius: 10px;
  padding-top: 6px;
  text-decoration: none;
}
nav .login:hover {
  background-color:burlywood;
}
nav .signup {
  /* border: 1px solid blue; */
  width: 5em;
  height: 2.3em;
  background-color: burlywood;
  color: white;
  border-radius: 10px;
  padding-top: 6px;
  text-decoration: none;
}

nav .signup:hover {
  background-color: rgb(113, 132, 173);
}
nav .icons {
  /* border: 1px solid red; */
  width: 8em;
  font-size: 1.3rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  color: white;
}
nav .icons i{
  transition: .4s;
}
nav .icons i:hover {
  cursor: pointer;
  color: burlywood;
  transform: scale(1.3);
}
.icons .menu {
  display: none;
}

/* about-page */
.about-page .about-content {
  /* border: 1px solid red; */
  height: 60vh;
  width: 95%;
  display: flex;
  gap: 2%;
  margin-top: 60px;
  background-color: rgba(81, 64, 102, 0.32);
}
.about-content .left {
  /* border: 1px solid red; */
  height: 100%;
  width: 50%;
}
.left img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.about-content .right {
  /* border: 1px solid red; */
  height: 100%;
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 6%;
  position: relative;
}
.about-content .right h1 {
  text-align: center;
  margin-top: 10px;
}
.about-content .right p {
  /* border: 1px solid red; */
  width: 95%;
  text-align: justify;
  line-height: 26px;
  /* font-size: 1rem; */
}
.about-content .right .quote {
  /* border: 1px solid red; */
  margin: 10px;
  font-weight: 600;
}
.right ::after {
  content: "";
  border: 1px solid rgb(33, 30, 35);
  height: 0.3%;
  width: 10%;
  position: absolute;
  top: 13%;
  left: 40%;
  background-color: rgb(0, 140, 255);
  transition: 1.5s;
}
.right :hover::after {
  width: 20%;
}
@media all and (max-width: 768px) {
  .about-page {
    margin-top: 40%;
  }
  .about-page .about-content {
    /* border: 1px solid red; */
    margin: 20px 0px 0px 17px;
    display: flex;
    flex-direction: column;
  }
  .about-content .left {
    width: 60%;
    height: 30%;
    margin:2% 20%;
  }
  .about-content .right {
    width: 100%;
    margin-top: -4%;
  }
  .about-content .right p {
    /* border: 1px solid; */
    margin: -10px 20px;
    font-size: 1.1rem;
  }
.about-content .right .quote{
  margin-left: 20px;  
  text-align: center;
}
}
@media all and (max-width: 576px) {
.about-page{
  margin-top: 25%;
  /* border: 1px solid red; */
}
.about-page .about-content{
  margin-left: 2.5%;
  font-size: 0.7rem;
}
.about-content .right{
  display: flex;
  gap: 25px;
}
.about-content .right h1{
  margin-top: 0px;
}
.about-content .right p{
  font-size: 0.7rem;
  line-height: 14.5px;
  margin-left:8px;
}
.about-content .right .quote{
  margin-top: -5px;
}
}