@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rajdhani:wght@300;400;500;600;700&family=Satisfy&display=swap");

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.wrapper {
  font-family: "Poppins", sans-serif;
}
header {
  /* border: 1px solid; */
  height: 12vh;
}
header nav {
  /* border: 1px solid; */
  font-family: "Open Sans", sans-serif;
  height: 12vh;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  background-color: #1e1e1f;
}
nav .brand {
  /* border: 1px solid red; */
  width: 12em;
  height: 12vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.brand img {
  /* border: 1px solid red; */
  height: 60%;
  width: 30%;
  object-fit: cover;
}
.brand a {
  font-family: "Satisfy", cursive;
  font-size: 1.8em;
  color:burlywood;
  text-decoration: none;
}

nav ul {
  /* border: 1px solid; */
  width: 60em;
  list-style: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
ul li a {
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: 600;
  color: white;
}
ul li a:hover {
  color:burlywood;
}
 ul li a::after{
  content: "";
  /* border: 1px solid rgb(0, 140, 255); */
  height: 0.1%;
  width: 6%;
  position: absolute;
  top: 8%;
  left: 17.2%;    
  transition: .8s;
}
ul li .home:hover::after {
  width: 3.8%;
  position: absolute;
  left: 17.2%;
  background-color:white;
}
ul li .collect:hover::after{
  width: 6.5%;
  position: absolute;
  left: 28.8%;
  background-color:white;
} 
ul li .about:hover::after{
  width: 3.8%;
  position: absolute;
  left: 43.1%;
  background-color:white;
}
ul li .product:hover::after{
  width: 5.5%;
  position: absolute;
  left: 54.6%;
  background-color:white;
} 
ul li .contact:hover::after{
  width: 4.5%;
  position: absolute;
  left: 68%;
  background-color:white;
} 
nav .page {
  /* border: 1px solid rgb(86, 176, 40); */
  display: flex;
  align-items: center;
  gap: 1em;
  text-align: center;
}
nav .login {
  border: 1px solid burlywood;
  width: 5em;
  height: 2.3em;
  background-color: black;
  color: white;
  border-radius: 10px;
  padding-top: 6px;
  text-decoration: none;
}
nav .login:hover {
  background-color:burlywood;
}
/* login-page */
.login-page{
  border: 1px solid red;
}

nav .signup {
  /* border: 1px solid blue; */
  width: 5em;
  height: 2.3em;
  background-color: burlywood;
  color: white;
  border-radius: 10px;
  padding-top: 6px;
  text-decoration: none;
}

nav .signup:hover {
  background-color: rgb(113, 132, 173);
}
nav .icons {
  /* border: 1px solid red; */
  width: 8em;
  font-size: 1.3rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  color: white;
}
nav .icons i{
  transition: .4s;
}
nav .icons i:hover {
  /* border: 1px solid burlywood; */
  cursor: pointer;
  color: burlywood;
  transform: scale(1.3);
}
.icons .menu {
  /* border: 1px solid purple; */
  display: none;
}
.collection-page {
  /* border: 1px solid; */
  background-color: white;
}
.collection-page h1 {
  text-align: center;
  margin-top: 2%;
}
.collection-page .collection {
  /* border: 4px solid; */
  height: 95vh;
  width: 80%;
  margin: 2% 0% 0% 10%;
  display: flex;
  justify-content: center;
  column-gap: 7%;
  flex-wrap: wrap;
}
.collection .card {
  /* border: 1px solid red; */
  height: 45%;
  width: 40%;
  position: relative;
  overflow: hidden;
}
.card img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  background-color: black;
  
}
.collection .card .cover {
  /* border: 1px solid rgb(0, 255, 17); */
  height: 100%;
  width: 100%;
  background-color: rgba(12, 10, 10, 0.82);
  backdrop-filter: blur(-10px);
  position: absolute;
  bottom: -100%;
  transition: 0.8s;
  display: flex;
}
.collection .card:hover .cover {
  bottom: -0%;
}
.card .cover {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;
}
.card .cover p {
  /* border: 1px solid rgb(0, 255, 17); */
  height: 40%;
  width: 30%;
  color:white;
  font-size: 2rem;
  font-weight: 700;
  margin-top: 7%;
}
.cover::before {
  content: "";
  /* border: 1px solid rgb(0, 140, 255); */
  height: 0.9%;
  width: 18%;
  position: absolute;
  top: 28%;
  left: 38%;
  background-color:rgb(220, 225, 231);
  transition: 1.5s;
}
.cover:hover::before {
  width: 25%;
}
.cover::after {
  content: "";
  /* border: 1px solid rgb(0, 140, 255); */
  height: 0.9%;
  width: 18%;
  position: absolute;
  bottom: 55%;
  right: 35%;
  background-color:rgb(220, 225, 231);
  transition: 1.5s;
}
.cover:hover::after {
  width: 25%;
}
.card .cover a {
  /* border: 1px solid red; */
  height: 13%;
  width: 25%;
  color: white;
  background-color: rgb(42, 165, 155);
  border-radius: 5px;
  font-size: 0.9rem;
  padding-top: 8px;
  text-decoration: none;
}
.card .cover a:hover {
  cursor: pointer;
}
@media all and (max-width: 768px) {
  .collection .card {
    height: 30%;
    width: 80%;
    margin: 10px;
  }
  .card .cover p {
    margin-top: 5.5%;
  }
}
@media all and (max-width: 576px) {
  .collection-page h1 {
    font-size: 1.4rem;
    margin-top: 20px;
  }
  .collection .card {
    height: 25%;
    width: 90%;
  }
  .card .cover p {
    font-size: 1rem;
    margin-top: 7%;
  }
  .cover a h4 {
    width: 100%;
  }
  .cover h4 {
    width: 40%;
    font-size: 0.6rem;
    margin-top: -5px;
  }
}