@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rajdhani:wght@300;400;500;600;700&family=Satisfy&display=swap");

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.wrapper {
  font-family: "Poppins", sans-serif;
}
header {
  /* border: 1px solid; */
  height: 12vh;
}
header nav {
  /* border: 1px solid; */
  font-family: "Open Sans", sans-serif;
  height: 12vh;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  background-color: #1e1e1f;
}
nav .brand {
  /* border: 1px solid red; */
  width: 12em;
  height: 12vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.brand img {
  /* border: 1px solid red; */
  height: 60%;
  width: 30%;
  object-fit: cover;
}
.brand a {
  font-family: "Satisfy", cursive;
  font-size: 1.8em;
  color:burlywood;
  text-decoration: none;
}

nav ul {
  /* border: 1px solid; */
  width: 60em;
  list-style: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
ul li a {
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: 600;
  color: white;
}
ul li a:hover {
  color:burlywood;
}
 ul li a::after{
  content: "";
  /* border: 1px solid rgb(0, 140, 255); */
  height: 0.1%;
  width: 6%;
  position: absolute;
  top: 8%;
  left: 17.2%;    
  transition: .8s;
}
ul li .home:hover::after {
  width: 3.8%;
  position: absolute;
  left: 17.2%;
  background-color:white;
}
ul li .collect:hover::after{
  width: 6.5%;
  position: absolute;
  left: 28.8%;
  background-color:white;
} 
ul li .about:hover::after{
  width: 3.8%;
  position: absolute;
  left: 43.1%;
  background-color:white;
}
ul li .product:hover::after{
  width: 5.5%;
  position: absolute;
  left: 54.6%;
  background-color:white;
} 
ul li .contact:hover::after{
  width: 4.5%;
  position: absolute;
  left: 68%;
  background-color:white;
} 
nav .page {
  /* border: 1px solid rgb(86, 176, 40); */
  display: flex;
  align-items: center;
  gap: 1em;
  text-align: center;
}
nav .login {
  border: 1px solid burlywood;
  width: 5em;
  height: 2.3em;
  background-color: black;
  color: white;
  border-radius: 10px;
  padding-top: 6px;
  text-decoration: none;
}
nav .login:hover {
  background-color:burlywood;
}
/* login-page */
.login-page{
  border: 1px solid red;
}


nav .signup {
  /* border: 1px solid blue; */
  width: 5em;
  height: 2.3em;
  background-color: burlywood;
  color: white;
  border-radius: 10px;
  padding-top: 6px;
  text-decoration: none;
}

nav .signup:hover {
  background-color: rgb(113, 132, 173);
}
nav .icons {
  /* border: 1px solid red; */
  width: 8em;
  font-size: 1.3rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  color: white;
}
nav .icons i{
  transition: .4s;
}
nav .icons i:hover {
  /* border: 1px solid burlywood; */
  cursor: pointer;
  color: burlywood;
  transform: scale(1.3);
}
.icons .menu {
  /* border: 1px solid purple; */
  display: none;
}

/* contact-page */
.contact-page .contact{
/* border: 2px solid; */
height: 50vh;
width: 100%;
margin-top: 5%;
background: url(../img/pexels-jatin-anand-33853-125779.jpg) no-repeat;
background-size: 100%;
background-attachment: fixed;
}
.contact p{
  /* border: 1px solid; */
  height: 100%;
  display: flex;
 justify-content: center;
 align-items: center;
 font-size: 1.6rem;
 font-weight: 700;
 color: rgb(31, 26, 13);
}
/* contact */
.contact-page .contact-info{
  /* border: 2px solid; */
  height: 80vh;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.368);
  display:flex;
  gap: 5%;
  /* justify-content: space-evenly; */
  text-align: start;
}
.contact-info .info{
  /* border: 1px solid; */
  height: 70%;
  width: 15%;
  margin-top: 3%;
 }
 .contact-info .info h4{
  /* border: 1px solid; */
  height: 15%;
  width: 100%;  
  color: white;
  padding-top: 16px;
 }
 .contact-info .info1{
  margin-left: 12%;
 }
 .contact-info .info a{
   text-decoration: none;
   color: black;
 }
 .contact-info .info p{
  /* border: 1px solid salmon; */
  margin-top: 10px;
  font-size: 0.9rem;
 }
 .wrapper .footer{
  border: 1px solid;
  height: 13vh;
  width: 100%;
  background-color: rgba(31, 29, 29, 0.84);
  color: white;
  text-align: center;
  padding-top: 20px;
  display: flex;
  justify-content: space-around;
 }
 .footer .payment{
  /* border: 1px solid red; */
  height: 30%;
  width: 2.5%;
  display: flex;
  /* gap: 20%; */
  margin: 0.8% 1%;
 background-color:azure;
 }
 .footer img{
  height: 100%;
  width: 100%;
  object-fit: cover;
 }
 .footer .footer-icons{
 color: black;
 font-size: 1.5rem;
 }