@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rajdhani:wght@300;400;500;600;700&family=Satisfy&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.login-page {
  /* border: 1px solid red; */
  height: 100vh;
  background-color: #898c8f;
  /* background-blend-mode: hard-light; */
  background-size: cover;
  color:black;
  overflow: hidden;
}
.login-page .login-cover {
  /* border: 1px solid red; */
  height: 80%;
  width: 70%;
  background-color:#fef9f9;
  /* box-shadow: inset 0px 0  px 10px rgb(181, 193, 202) ; */
  border-radius: 20px;
  position: relative;
  top: 10%;
  left: 14.5%;
}
.login-cover .login {
  /* border: 1px solid red; */
  height: 100%;
  font-size: 0.9rem;
  display: flex;
}
.login-cover .login .right-login {
  /* border: 1px solid red; */
  width: 60%;
}
.login .right-login .box {
  /* border: 1px solid red; */
  height: 90%;
  width: 95%;
  margin: 8% 12%;
  justify-content: center;
  padding-left: 20px;

}
.right-login h2 {
  /* border: 1px solid; */
  margin-top: -1%;
  font-size: 1.7rem;
  color:rgb(58, 59, 61);
}
.right-login h5 {
  /* border: 1px solid; */
  font-size: 0.9rem;
  font-weight: 500;
  margin: 1% 0% 6% 0%;
  color: #4e5050;
}
.right-login .box input { 
  border: 1px solid gray;
  width: 60%;
  height: 8%;
  margin: 3% 0% 4% 0%;
  outline: none;
  /* border: none; */
  display: flex;
  background-color: transparent;
  border-radius: 5px;
  font-size: 0.9rem;
   padding: 3% 3%;
  /* box-shadow:0px 0px 5px rgb(201, 206, 206); */
}
.box i {
  font-size: 0.8rem;
  color: rgb(58, 64, 70);
}
input::placeholder {
  color: #5e6363;
}
.box p {
  border-bottom: 2px solid;
  width: 20%;
  margin-top: -7px;
  font-size: 0.8rem;
}
.box .btn {
  /* border: 1px solid black; */
  width: 60%;
  height: 8%;
  font-size: 0.9rem;
  margin: 4% 0%;
  padding: 2% 4%;
  background-color:rgb(49, 55, 62);
  border-radius: 10px;
  text-align: center;
  cursor: pointer;
  transition: .2s;
}
.box .btn:hover{
  background-color: rgb(148, 58, 58);
}

.box .btn a {
  text-decoration: none;
  font-weight: 500;
   color:white;
}
.box .or{
    border: none;
    width: 60%;
    margin-top: -10px;
    text-align: center;
    position: relative;
    font-size: 0.9rem;
}
.box .social{
    /* border: 1px solid; */
    width: 60%;
    height: 7%;
    margin-top: 2%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 2%;
}
.box .social:hover{
  cursor: pointer;
}
.social .media{
    /* border: 1px solid black; */
    width: 50%;
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:rgba(154, 145, 145, 0.342);
    border-radius: 4px;
    transition: .6s;
}
.social .media:hover{
  background-color: #202021;
}
.social img{
    /* border: 1px solid; */
    height: 48%;
    width: 10%;
    margin: 0px 5px 2px;
    object-fit: cover;
    padding:-6px 5px;
}
.media a{
  text-decoration: none;
  color: #1a1c1d;
}

.box .account{
    /* border: 1px solid; */
    width: 55%;
    margin-top: 7%;
    margin-left: 2%;
    border: none;
    text-align: center;
}
.login-cover .login .left-login {
  /* border: 1px solid red; */
  width: 50%;
  height: 80vh;
  /* margin: 2.5% 3%; */
}
.left-login img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 0% 2% 25% 10% / 65% 0% 96% 0%;
}


 