* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
.signup-page {
  /* border: 1px solid red; */
  height: 100vh;
  width: 100%;
   background-color: #898c8f;
  background-blend-mode: hard-light;
  background-size: cover;
}
.signup-page .sign-cover {
  /* border: 1px solid; */
  height: 80vh;
  width: 70%;
  background-color:rgb(220, 218, 218);
  /* box-shadow: outset 0px 0px 10px rgb(220, 226, 230) ; */
  border-radius: 20px;
  position: relative;
  top: 10%; 
  left: 14.5%;
}
.sign-cover .signup {
  /* border: 1px solid red; */
  font-size: 0.9rem;
  display: flex;
}
.sign-cover .signup .right-sign {
  /* border: 1px solid red; */
  width: 60%;
  height: 80vh;
} 
.signup .right-sign .box {
  /* border: 1px solid red; */
  height: 80%;
  width: 100%;
  margin: 10% 10%;
  justify-content: center;
  padding-left: 20px;

}
.right-sign h2 {
  /* border: 1px solid; */
  margin-top: -2%;
  font-size: 1.7rem;
}
.box .account{
    /* border: 1px solid black; */
    width: 56%;
    margin:9px 3px;
    border: none;
}
.account a{
    text-decoration: none;
    color: rgb(160, 15, 37);
}
.right-sign .box input {
  border: 1px solid rgb(19, 20, 20);
  width: 60%;
  height: 7.5%;
  margin: 1% 0% 4% 0%;
  padding-left: 15px;
  outline: none;
  /* border: none; */
  display: flex;
  background-color: transparent;
  border-radius: 5px;
  font-size: 1rem;
  /* box-shadow: 0px 0px 8px rgb(249, 252, 251); */
}
.box .label{
    /* border: 1px solid red; */
    display: flex;
    gap: 3%;
    width: 60%;
}
.box .label input{
    padding: 3%;
    margin-top: 15%;
}
input::placeholder {
  color: rgb(22, 20, 20);
  font-size: 0.9rem;
}
.box p {
  width: 21%;
  margin-top: 6px;
}
.box .btn {
  /* border: 1px solid black; */
  width: 60%;
  height: 9%;
  font-size: 1rem;
  margin: 5% 0% 0%;
  padding: 2.5% 4%;
  background-color: rgb(140, 109, 68);
  border-radius: 10px;
  text-align: center;
  cursor: pointer;
}
.box .btn:hover{
  background-color: rgb(150, 55, 55);
}
.box .btn a {
  text-decoration: none;
   color:white;
}
.box .or{
    border: none;
    width: 55%;
    margin: 10px;
    text-align: center;
    position: relative;
    font-size: 0.9rem;
    color: black;
}
.box .social{
    /* border: 1px solid; */
    width: 60%;
    height: 10%;
    margin-top: 2%;
    display: flex;
    justify-content: space-evenly;
    /* align-items: center; */
    gap: 20px;
}
.social .media{
    /* border: 1px solid black; */
    width: 60%;
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(154, 145, 145, 0.342);
    border-radius: 12px;
    cursor: pointer;
}
.social .media:hover{
  background-color: #9fa8b3;
}
.social img{
    /* border: 1px solid; */
    height: 45%;
    width: 13%;
    object-fit: cover;
    padding-right: 5px;
}
.media a{
  text-decoration: none;
  color: black;
}
.sign-cover .signup .left-sign {
  /* border: 1px solid red; */
  width: 50%;
  height: 70vh;
  margin: 2.5% 3%;
}
.left-sign img {
  width: 90%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px;
}

